@charset "UTF-8";
     .body {
      background: #c0c0c0;
    }
    .register-card {
      max-width: 600px;
      min-height:600px;
      margin: 50px auto;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      min-width:50%;
      background: #6c6c6c;
    }
    .register-container {
        min-height: 100vh;
        display: flex;
    }
    .register-img {
    background: url('../images/image May 17, 2025, 01_46_12 AM.png') no-repeat center center;
    background-size: cover;


    }
    .form-container {
        padding: 50px;
        background-color: #3b3b3b;
    }
    .form-label{
    font-family:arial; 
    color: #000000;
    }
    .navedit{
     background-color: #c9c9c9;
     border-bottom: 1px solid #000000;

    }
    
