@charset "UTF-8";

body{
	margin:0;
	padding: 0;
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #fff9f3;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

h2{
	padding-bottom: 50px;
	color: white;
}

.login-container{
	padding: 40px 30px;
	border-left: 1px solid white;
	animation: fadeInUp 0.6s ease-in-out;
	background-color:transparent;
	border-radius: 10px;
	box-shadow: 0px 4px 10px #8b8b8b;
	max-width: 400px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: stretch;
}

.login-container form{
	color: white;
	
}

h2{
	margin-bottom: 0.3rem;
}

hr{
	margin-top: 0.2rem;
	margin-bottom: 1rem;
	border: 1px solid white;
}

.back{
	position:absolute;
	top: 20px;
    left: 20px;
    font-size: 24px;
    color:white;
    text-decoration: none;
}

.back:hover{
	color: #b1b0b0;
}

input{
	border: 2px solid #e7e7e7;
	border-radius: 8px ;
	padding:5px;
	margin:  0px;
	width:100%
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../images/Image May 17, 2025, 11_03_42 PM.png') no-repeat center center;
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
}

.btn {
    background-color: transparent;
    color: white;
    
    padding: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* light white glow */
}

.btn:hover {
    background-color: #28a745; /* green background on hover */
    color: white;
    border-color: #28a745;
    box-shadow: 0 0 12px rgba(40, 167, 69, 0.8); /* green glow on hover */
    cursor: pointer;
}