@charset "UTF-8";

body{
	margin:0;
	padding: 0;
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: #fff9f3;
}

h2{
	padding-bottom: 50px;
}

.register-container{
	padding: 40px 30px;
	border: 1px solid #e7e7e7;
	background-color: #e7e7e7;
	border-radius: 10px;
	box-shadow: 0px 4px 10px #8b8b8b;
	max-width: 400px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: stretch;
}

.back{
	position:absolute;
	top: 20px;
    left: 20px;
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.back:hover{
	color: #b1b0b0;
}

input{
	border: 2px solid #e7e7e7;
	border-radius: 8px ;
	padding:5px;
	margin:  0px;
	width:100%
}
